.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem; /*se quebrar colocar "2rem" */
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1rem 0;

}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/lupa.svg") no-repeat;
    background-position: left center;
}





@media screen and (min-width: 1024px) {
    .banner {
        padding: 5rem; 
    }
    .banner__titulo {
        font-size: 36px;
        font-weight: 700;
    }
    .banner__texto {
        font-size: 16px;
        font-weight: 500;
        color: var(--branco);
    }
    .banner__pesquisa {
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 1.2rem;
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        background-position: 3.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 37%;
    }

    .banner__pesquisa::placeholder {
        background-position: 8rem;
    }
}

